.tiny-tags {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	color: black;
	display: block;
	font-size: 90%;
	position: absolute;
	width: 200px;
	z-index: 1000;
}

.tiny-tags:before {
	border-bottom: 7.5px solid #ffffff;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
	content: '';
	display: inline-block;
	position: absolute;
	top: -7.5px;
	left: 7.5px;
}

.tiny-tags-message {
	padding: 10px 5px;
	text-align: center;
}

.tiny-tags-list {
	border-radius: 5px;
	overflow: hidden;
}

.tiny-tags-item {
	padding: 10px 5px;
	width: 100%;
}

.tiny-tags-item-active,
.tiny-tags-item:hover {
	background-color: #eee;
	cursor: pointer;
}